.header{
    background-color: rgb(42, 50, 75);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px 5px;
    position: relative;
    right: 200px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    right: 200px;
}

.btn2{
    background-color: #4c5baf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    left: 1000px;
    font-family: 'Macondo', cursive;
}